{% extends 'Public/auth/auth-base.html' %}
{% load static i18n %}

{% block title %}
  {% trans 'Pocket fridge' %} - {% trans 'Registration' %}
{% endblock %}

{% block header %}
  <h4 class="mb-2">{% trans 'Adventure starts here' %} 🚀</h4>
  <p class="mb-4">{% trans 'Make your fridge management easy and fun!' %}</p>
{% endblock %}

{% block content %}
  <form id="formAuthentication" class="mb-3" method="POST" novalidate>
    {% csrf_token %}
    {% include 'Public/base/base_non_field_error_block.html' with form=form %}
    {% with form.email as field %}
      <div class="mb-3 {% if field.errors %}has-error{% endif %}">
        <label for="id_email" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% include 'Public/base/base_field_error_block.html' %}
      </div>
    {% endwith %}
    {% with form.first_name as field %}
      <div class="mb-3 {% if field.errors %}has-error{% endif %}">
        <label for="id_first_name" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% include 'Public/base/base_field_error_block.html' %}
      </div>
    {% endwith %}
    {% with form.last_name as field %}
      <div class="mb-3 {% if field.errors %}has-error{% endif %}">
        <label for="id_last_name" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% include 'Public/base/base_field_error_block.html' %}
      </div>
    {% endwith %}
    {% with form.password as field %}
      <div class="mb-3 form-password-toggle {% if field.errors %}has-error{% endif %}">
        <label class="form-label" for="password">{{ field.label }}</label>
        <div class="input-group input-group-merge">
          {{ field }}
          <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
        {% include 'Public/base/base_field_error_block.html' %}
      </div>
    {% endwith %}
    {% with form.confirm_password as field %}
      <div class="mb-3 form-password-toggle {% if field.errors %}has-error{% endif %}">
        <label class="form-label" for="password">{{ field.label }}</label>
        <div class="input-group input-group-merge">
          {{ field }}
          <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
        {% include 'Public/base/base_field_error_block.html' %}
      </div>
    {% endwith %}

    {% with form.agree_checkbox as field %}
      <div class="mb-3">
        <div class="form-check {% if field.errors %}has-error{% endif %}">
          {{ field }}
          <label class="form-check-label" for="terms-conditions">
            {% trans 'I agree to' %}
            <a href="{{ privacy_policy.template.url }}" download>{% trans 'privacy policy' %}</a> &
            <a href="{{ terms_of_use.template.url }}" download>{% trans 'terms of use' %}</a>
          </label>
        </div>
        {% include 'Public/base/base_field_error_block.html' %}
      </div>
    {% endwith %}

    <button class="btn btn-primary d-grid w-100">{% trans 'Sign up' %}</button>
  </form>
{% endblock %}

{% block footer %}
  <p class="text-center">
    <span>{% trans 'Already have an account?' %}</span>
    <a href="{% url 'login' %}">
      <span>{% trans 'Sign in instead' %}</span>
    </a>
  </p>
{% endblock %}