{% extends 'Public/auth/auth-base.html' %}
{% load static i18n %}

{% block title %}
  {% trans 'Pocket fridge' %} - {% trans 'Forgot password' %}
{% endblock %}

{% block header %}
  <h4 class="mb-2">{% trans 'Forgot Password?' %} 🔒</h4>
  <p class="mb-4">{% trans "Enter your email and we'll send you instructions to reset your password" %}</p>
{% endblock %}

{% block content %}
  <form id="formAuthentication" class="mb-3" method="POST" novalidate>
    {% csrf_token %}
    {% include 'Public/base/base_non_field_error_block.html' with form=form %}
    {% with form.email as field %}
      <div class="mb-3 {% if field.errors %}has-error{% endif %}">
        <label for="id_email" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% include 'Public/base/base_field_error_block.html' %}
      </div>
    {% endwith %}
    <button class="btn btn-primary d-grid w-100">{% trans 'Send Reset Link' %}</button>
  </form>
{% endblock %}

{% block footer %}
  <p class="text-center">
    <span>{% trans 'Already have an account?' %}</span>
    <a href="{% url 'login' %}">
      <span>{% trans 'Sign in instead' %}</span>
    </a>
  </p>
{% endblock %}