{% extends 'Public/auth/auth-base.html' %}
{% load static i18n %}

{% block title %}
  {% trans 'Pocket fridge' %} - {% trans 'Reset password' %}
{% endblock %}

{% block header %}
  <h4 class="mb-2">{% trans 'Reset password' %}</h4>
{% endblock %}

{% block content %}
  <form id="formAuthentication" class="mb-3" method="POST" novalidate>
    {% csrf_token %}
    {% include 'Public/base/base_non_field_error_block.html' with form=form %}
    {% with form.password as field %}
      <div class="mb-3 form-password-toggle {% if field.errors %}has-error{% endif %}">
        <label class="form-label" for="password">{{ field.label }}</label>
        <div class="input-group input-group-merge">
          {{ field }}
          <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
        {% include 'Public/base/base_field_error_block.html' %}
      </div>
    {% endwith %}
    {% with form.confirm_password as field %}
      <div class="mb-3 form-password-toggle {% if field.errors %}has-error{% endif %}">
        <label class="form-label" for="password">{{ field.label }}</label>
        <div class="input-group input-group-merge">
          {{ field }}
          <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
        {% include 'Public/base/base_field_error_block.html' %}
      </div>
    {% endwith %}
    <button class="btn btn-primary d-grid w-100">{% trans 'Reset password' %}</button>
  </form>
{% endblock %}

{% block footer %}
{% endblock %}