{% extends 'My/my_base.html' %}
{% load hosts i18n %}

{% block content %}
<section class="section-subscription">
  <div class="row">
    <div class="container-subscription">
      <h3>Subscription</h3>
      <div class="card-info">

        <span>{{ payment_method.card_type }}</span>
        <span> **** **** **** {{ payment_method.last_digits_of_card }} </span>
        <span>{{ payment_method.expire_date }}</span>
        
        
        
        
        <a href="{% host_url 'profile-add-payment-method' host 'my' %}">{% trans 'change card' %}</a>

      </div>
      <div class="price-form">
        {% include 'base_form.html' with form=form %}
      </div>
      
    </div>
  </div>
</section>

  
{% endblock %}
