{% extends 'My/my_base.html' %}
{% load hosts i18n %}

{% block content %}
  <section class="section-profile">
    <div class="row">
      <div class="container-profile">
        <div class="profile_info">
          <div class="profile_info-name">
            <span>{% trans 'Name' %}: </span>
            <strong>{{ user.first_name }} {{ user.last_name }} </strong>
          </div>
          <div class="profile_info-email">
            <span>{% trans 'Email' %}: </span>
            <strong>
              {{ user.email }}
            </strong>
          </div>
          <div class="profile_info-reg_date">
            <span>{% trans 'Date of registration' %}: </span>
            <strong>
              {{ user.created_stamp|date:"d.m.Y" }}
            </strong>
          </div>
          <div class="profile_info-premium">
            <span>{% trans 'Premium' %}: </span>
            <strong>
              {% if subscription.product %}
                {{ subscription.product.name }}
              {% else %}
                {% trans 'None' %}
              {% endif %}
            </strong>
            {% if subscription %}
              <a href="{% host_url 'profile-cancel-subscription' host 'my' %}">{% trans 'Cancel premium' %}</a>
            {% else %}
              <a href="{% host_url 'profile-subscribe' host 'my' %}">{% trans 'Buy premium' %}</a>
            {% endif %}
          </div>
        </div>

        <div class="profile_buttons">
          <button class="profile_buttons-guide">
            <a href="{{ user_guide_url }}" type="button" target="_blank" class="bold">{% trans 'User guide' %}</a>
          </button>
          <button class="profile_buttons-privacy-policy">
            <a href="{{ privacy_policy.template.url }}" download class="bold">{% trans 'Privacy policy' %}</a>
          </button>
          <button class="profile_buttons-terms-of-use">
            <a href="{{ terms_of_use.template.url }}" download class="bold">{% trans 'Terms of use' %}</a>
          </button>
          {% if request.user.is_premium %}
            <button class="profile_buttons-dataexport">
              <a href="{% host_url 'profile-export' host 'my' %}" type="button"
                 class="bold">{% trans 'Data export' %}</a>
            </button>
            <button class="profile_buttons-dataexport">
              <a href="{% host_url 'profile-import' host 'my' %}" type="button"
                 class="bold">{% trans 'Data import' %}</a>
            </button>
          {% endif %}
          <button class="profile_buttons-report">
            <a href="https://forms.gle/4Z7vC1pTPfit6RN76" type="button" target="_blank"
               class="bold">{% trans 'Report error' %}</a>
          </button>
          <button class="profile_buttons-language dropdown-multilevel dropdown-multilevel-left">
            <div class="dropdown dropdown-item bold ">
              {% trans 'Language' %}
            </div>
            <div class="dropdown-menu">
              <form id="select-language" action="{% url 'set-language' %}" method="POST">
                {% csrf_token %}
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  <a href="#"
                     class="bold language-selector dropdown-item {% if language.code == LANGUAGE_CODE %}active{% endif %}"
                     data-action="lang" data-lang="{{ language.code }}">
                    {{ language.name }}
                  </a>
                {% endfor %}
              </form>
            </div>
          </button>
          <button class="profile_buttons-logout">
            <a href="{% host_url 'logout' host 'my' %}" class="bold">{% trans 'Logout' %}</a>
          </button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
