 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


/* Global settings */

*{
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
}

body{
    background: #EEE;
}

.row{
    width: 90%;
    margin: 0 auto;
}


h2{
    color: #000;
    text-align: center;
    font-size: 24px;
    line-height: 22px; /* 91.667% */
    letter-spacing: -0.408px;
}

strong{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
}

.bold{color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    /* Apply styles when the screen width is more than 500px */
    main {
        display: none;
    }
    .section-desctop{
        display: block;
  }
}

@media screen and (max-width: 500px) {
    .section-desctop {
      display: none;
    }
  }

.section-desctop{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-desctop > span{
    color: #000;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
top: 50%;
position: absolute;
left: 50%;
transform: translateX(-50%);
}

h3{
    color: rgba(0, 0, 0, 0.60);
    font-size: 20px;
    font-weight: 600;
    line-height: 22px; /* 110% */
    letter-spacing: -0.408px;
}

/* Global settings */


/* Header settings */

header{
    height: 90px;
    border-bottom: 2px solid black;

}
header > div{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Header settings */


/* Footer settings */

footer{
    height: 100px;
    width: 100%;
    border-top: 2px solid #AAA;
    position: fixed;
    bottom: 0;
}

footer > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-item > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}

/* Footer settings */

/* Profile settings */

.section-profile{
    margin-top: 60px;
}

.profile_info div {
    padding-bottom: 20px;
}

.profile_info div > span{
    padding-right: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
}


.profile_info div > a{
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-size: 14px;
    line-height: 22px; /* 220% */
    letter-spacing: -0.408px;
    text-decoration-line: underline;
    padding-left: 15px;
}

.profile_buttons > button {
    border: none;
    width: 100%;
    border-radius: 8px;
    background: #B6E0FF;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 5px 0;
}
.profile_buttons > button.profile_buttons-logout{
    background: #d9d9d9;
    text-transform: uppercase;
    margin: 0;
}

.dropdown::after {
    content: "▼"; /* Unicode arrow down character */
    margin-left: 5px;
    font-size: 12px;
}

.language-selector {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
}

.language-selector.active {
    background-color: #80caff;  
}

.dropdown-menu{
    margin-top: 35px;
    display: none;  
}

.profile_buttons-language:hover  .dropdown-menu{
    display: block;
}

.profile_info-avatar a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.profile_info-avatar a svg{
    margin-right: 10px;

}

.button-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-holder > button{
    width: 48%;
    border: none;
    border-radius: 8px;
    background: #B6E0FF;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 5px 0;
}


/* .dropdown:hover .dropdown-menu {
    display: block;
} */


/* Profile settings */


/* Add product settings */



form.fridge_add,
form.shopping_list_add_product{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.fridge_add > div,
form.shopping_list_add_product > div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

form > .form_buttons {
    margin: 0 auto;
    margin-top: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column !important;
}

.fridge_add div.form-group:nth-child(3){
    order: -1;
}
.fridge_add div.form-group:nth-child(3) > div,
body > main > form.fridge_add > div:nth-child(9) > div{
    width: 100%;

}
.fridge_add div.form-group:nth-child(3) input{
    width: calc(100% - 20px);
}
div.form-group:nth-child(8) {
    display: block;
}
div.form-group:nth-child(8) textarea{
    margin-top: 10px;
    width: calc(100% - 20px);
    border-radius: 8px;
    border: 3px solid #B6E0FF;
    background: #EEE;
    padding: 10px;
}

div.form-group input{
    border-radius: 8px;
    border: 3px solid #B6E0FF;
    background: #EEE;
    padding: 5px;
}

.select2-selection,
.select2-container--default .select2-selection--single{
    border-radius: 8px;
    background: #B6E0FF;
    border: 3px solid #B6E0FF;
}

#id_units{
    border-radius: 8px;
    background: #B6E0FF;
    border: 3px solid #B6E0FF;
    padding: 0px 10px;
}
select#id_units option{
    border-radius: 8px;
    background: #B6E0FF;
    border: 3px solid #B6E0FF;
    padding: 0px 10px;
}

.select2-selection__placeholder{
    text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 157.143% */
letter-spacing: -0.408px;
color: #000 !important;
padding: 5px;
}

.select2-container--default .select2-search--dropdown .select2-search__field{
    border-radius: 8px;
    border: 1px solid #B6E0FF;
    /* background: #EEE; */
}
.select2-dropdown{
    border-radius: 8px;
    background: #B6E0FF;
    border: 3px solid #B6E0FF;

}

div.form-group:nth-child(8) textarea:focus,
div.form-group:nth-child(8) textarea:active,div.form-group input,
.select2-search__field,
.container-shopping_list .input-group input{
    outline: none;
}


form > div > label > strong,
.select2-results__option,
div.form-group:nth-child(5) > label:nth-child(1){

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: -0.408px;
}

form > .form_buttons > input.btn {
    border: none;
    /* width: 100%; */
    border-radius: 8px;
    background: #B6E0FF;
    cursor: pointer;
    padding: 5px 30px;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
}

form > .form_buttons > input:last-child {
    background: #d9d9d9;

}

form.product_edit > div:nth-child(9) > label{
display: none;
}

/* Add product settings */


/* Add product shopping list */

form.shopping_list_add_product{
    margin-top: 60px;
}

.form_buttons > input:last-child{
    /* margin-left: 20px; */
    margin-top: 10px;
}

.shopping_list_add_product > div:first-of-type > div{
width: 100%;
color: black;
}
.shopping_list_add_product > div:first-of-type > div    input{
    width: calc(100% - 20px);
}

.shopping_list_edit_product{
    margin-top: 20px;
}
.shopping_list_edit_product > div:first-of-type input{
    width: calc(100% - 20px);
}
/* Add product shopping list */


/* Shopping list */

.shopping_list-title{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.shopping_list-title h3{
    padding-right: 10px;
}
.shopping_list-title button{
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

section.section-shopping_list{
    margin-top: 20px;
}

button.shopping_list-add{
    border-radius: 8px;
    border: 3px solid #B6E0FF;
    background: #EEE;
    width: 100%;
    padding: 3px 5px;
    margin-bottom: 10px;
}
button.shopping_list-add a{
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
    text-decoration: none;
}

.container-shopping_list .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.container-shopping_list .input-group input{
    border-radius: 8px;
    border: 3px solid #B6E0FF;
    background: #EEE;
    padding: 2px 10px;
    width: 65%;
    color: rgba(0, 0, 0, 0.40);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
}

.container-shopping_list .input-group select{
    border-radius: 8px;
    background: #B6E0FF;
    border: 3px solid #B6E0FF;
    padding: 3px 5px;
    text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 157.143% */
letter-spacing: -0.408px;
color: #000 !important;
}

/* .product-delete{
    transform: rotate(45deg);
} */

.products-div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.product_name {
    border-radius: 8px;
    border: 3px solid #B6E0FF;
    background: #EEE;
    padding: 3px 15px;
    text-align: center;
    
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
}
.product_name a, 
.product_name span
{
    text-decoration: none;

    color: rgba(0, 0, 0, 0.40);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: -0.408px;
}
input.form-check-input[type="checkbox"]{
    border-radius: 4px;
    border: 3px solid #B6E0FF;
    background: #B6E0FF;
    appearance: none;
    width: 2em;
    height: 2em;
    margin-bottom: 8px;
    margin-right: 5px;

}

input.form-check-input[type="checkbox"]:checked{

    border: 3px solid #B6E0FF;
    background: #EEE;
}

.product-delete > svg{
    margin-bottom: 8px;
    margin-left: 5px;
}

/* Shopping list */


/* Fridge settings */
.section-product_view{
    margin-top: 20px;
}

.section-fridge_view,
.section-notification_view{
    margin-top: 10px;
}

.section-fridge_view .fridges-list{ 
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.section-fridge_view .fridges-list > .fridge-item  a{
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.408px;
    text-decoration: none;
}
.section-fridge_view .fridges-list > .fridge-item a > span.fridge-is-active{
    color: rgba(0, 0, 0, 0.60);
text-align: center;
font-size: 20px;
font-weight: 600;
line-height: 22px; /* 110% */
letter-spacing: -0.408px;
border-bottom: solid 1px #B6E0FF;
}

.list-empty{
    margin-left: 50%;
    margin-top: 25vh;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-empty > p,
.list-empty > a
{
    color: rgba(0, 0, 0, 0.40);
    /* text-align: center; */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
}

.products-list{
    margin-top: 15px;
}
.list-hint{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.list-hint > span { 
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 220% */
    letter-spacing: -0.408px;
    padding: 0 15px;
}
.section-notification_view .list-hint{
    width: 90%;
}

.product-item a.product-data{
    border-radius: 8px;
    background: #B6E0FF;
    border: 3px solid #B6E0FF;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    width: 87%;
    text-decoration: none;
    margin-bottom: 10px;
}

.section-notification_view .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-notification_view .product-item {
    border-radius: 8px;
    background: #e3e3e3;
    border: 3px solid #e3e3e3;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    width: 87%;
    text-decoration: none;
    margin-bottom: 10px;
    
}

.section-notification_view .product-item > span{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; 
    letter-spacing: -0.408px;
    color: #000 !important;
}


.product-item a{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
    color: #000 !important;
}

.select2-selection__clear { 
    display: none;
}

.product-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.product-edit{
    padding-bottom: 3px;
}
.product_view-title{
    display: flex;
    padding-bottom: 30px;
}
.product_view-title h3,
.product_view-title a{
    padding-right: 10px;
}

.product_view{
    position: relative;

}

.product_view-container{
    margin-bottom: 30px;
}

.container-item{
    padding-bottom: 20px;
}
.container-item > span:nth-child(1){
    color: #000;
font-size: 14px;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: -0.408px;
padding-right: 20px;
}

.notes{
    padding: 0;
}

.product_view-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_view-buttons > button{
    border: none;
    width: 100%;
    border-radius: 8px;
    background: #B6E0FF;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 5px 0;
}

.product_view-buttons > button:last-child{

background: #d9d9d9;
}

.product_edit{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_edit div.form-group:nth-child(3){
    order: -1;
}
.product_edit  div:nth-child(3) > div{
    width: 100%;
}
.product_edit  div:nth-child(3) input{
    width: calc(100% - 20px);
}
.product_edit > div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.product_edit  div:nth-child(8){
    margin-bottom: 0;
} 
/* Fridge settings */


/* Login page */

body.login-page{
    background: #B6E0FF !important;

}

/* Login page */


/* .link-color-grey {
    color: grey !important;
}

.home-footer {
    bottom: 0;
    width: 100%;
    background: #212529;
    color: grey;
} */


/* Add  card */


.section-add_credit_card{
margin-top: 30px;
}


form.add_card {
position: relative;
}
.container-add_credit_card h3{
    margin-bottom: 30px;
}
.container-add_credit_card .row{
width: 100%;
}

form.add_card  label{
margin-bottom: 5px;
}

form.add_card div:nth-child(2) #id_number{
    width: 100%;
    margin-bottom: 15px;
}

input#id_exp_month{
    width: 30px;
}
form.add_card div:nth-child(4) label{
display: none;
}
input#id_exp_year{
    width: 60px;
    position: absolute;
    top: 91px;
    left: 55px;
}

body > main > section > div > div > form > div:nth-child(5){
    position: absolute;
    top: 69px;
    right: 0;
    left: calc(100% - 60px);
    width: 75px !important;
}

input#id_cvc{
    width: 60px;
}

/* Add card */

/* Import files */

.section-import_data{
    margin-top: 30px;
}

.section-import_data h3{
    margin-bottom: 30px;
}

form.profile_import label {
    display: none;
}

#id_file::-webkit-file-upload-button {
    visibility: hidden;
  }
  #id_file::before {
    content: 'Select some files';
    display: none;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 3px solid #B6E0FF;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    text-align: center;
  }
  #id_file:hover::before {
    border-color: black;
  }
  #id_file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

/* Import files */


 .photo{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
 }
 
 .photo img,
 .no-photo  {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border: 3px solid #B6E0FF;
    padding: 3px;
    border-radius: 8px;
    /* margin-left: 50%;
    transform: translate(-50%); */
 }
.no-photo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-photo span{
    color: rgba(0, 0, 0, 0.40);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: -0.408px;
} 

 .amount{
    padding-bottom: 30px;
 }

.manufacture_date, .shelf_life{
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
}
#id_image{
    /* width: calc(100% - 10px); */
    /* margin-left: 50%; */
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}
#id_image::-webkit-file-upload-button {
    visibility: hidden;
  }
  #id_image::before {
    content: 'Select some files';
    display: none;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 3px solid #B6E0FF;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    text-align: center;
  }
  #id_image:hover::before {
    border-color: black;
  }
  #id_image:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  body > main > form.fridge_add > div:nth-child(9) > label{
    display: none;
  }

  .product-name-crossed {
    text-decoration: line-through !important;
}

.text-main{
    color: #5271FF;
}

.text-accent{
    color: #2B4A9D;
}

.class-1 {
    background: #f92b2b !important;
    border: 3px solid #f92b2b !important;

}
.class-2 {
    background: #e7d837 !important;
    border: 3px solid #e7d837 !important;

}
.class-3 {
    border: 3px solid green;
    background: green !important;
}
.class-4 {
    background: #B6E0FF;
    border: 3px solid #B6E0FF;
}