{% load i18n %}

<div>
{% if request.user.is_superuser %}
  <a type="button" class="btn btn-info btn-rounded btn-icon btn-sm" title="{% trans 'View' %}"
     href="{% url "manager-stripe-product-view" record.id %}">
    <i class="mdi mdi-eye"></i>
  </a>
  <a type="button" class="btn btn-success btn-rounded btn-icon btn-sm" title="{% trans 'Set as default' %}"
     href="{% url "manager-stripe-product-set-as-default" record.id %}">
    <i class="mdi mdi-settings"></i>
  </a>
  {% if record.is_active %}
    <a type="button" class="btn btn-warning btn-rounded btn-icon btn-sm" title="{% trans 'Archive' %}"
       href="{% url "manager-stripe-product-archive" record.id %}">
      <i class="mdi mdi-trash-can"></i>
    </a>
  {% endif %}
  {% endif %}
</div>