{% extends 'Manager/Stripe/Product/product_base.html' %}
{% load i18n %}

{% block action-area %}
  {% if request.user.is_superuser %}
  <a type="button" class="btn btn-success btn-md" href="{% url 'manager-stripe-product-sync' %}">{% trans 'Sync' %}</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-description">
          <div class="row">
            <div class="col">
              {% include 'smartadmin/tables/table.html' with table=table %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}