{% extends 'My/my_base.html' %}
{% load hosts %}

{% block content %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12 blog-main">
        <div class="blog-post">
          {% include 'My/Fridge/fridges_template.html' %}

          <div>
            {% for product in products %}
              <a href="{% host_url 'product-view' product.fridge.id product.id host 'my' %}">
                {{ product.name }} - {{ product.amount }} ({{ product.get_units_display }})
                - {{ product.shelf_life_date|date:"d M Y" }}
              </a>
              <a href="{% host_url 'product-edit' product.fridge.id product.id host 'my' %}">Edit</a>
              <a href="{% host_url 'product-delete' product.fridge.id product.id host 'my' %}">Delete</a> <br>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
