{% extends 'My/my_base.html' %}
{% load hosts i18n %}

{% block content %}
  <section class="section-profile">
    <div class="row">
      <div class="container-profile">
        <div class="profile_info">
          <div class="profile_info-name">
            <span>{% trans 'Name' %}: </span>
            <strong>{{ user.first_name }} {{ user.last_name }} </strong>
          </div>
          <div class="profile_info-email">
            <span>{% trans 'Email' %}: </span>
            <strong>
              {{ user.email }}
            </strong>
          </div>
          <div class="profile_info-reg_date">
            <span>{% trans 'Date of registration' %}: </span>
            <strong>
              {{ user.created_stamp|date:"d M Y" }}
            </strong>
          </div>
          <div class="profile_info-premium">
            <span>{% trans 'Premium' %}: </span>
            <strong>
              {% trans 'None' %}
            </strong>
            <a href="#">{% trans 'Buy premium' %}</a>
          </div>
        </div>

        <div class="profile_buttons">
          <button class="profile_buttons-guide">
            <a href="{{ user_guide_url }}" type="button" target="_blank" class="bold">{% trans 'User guide' %}</a>
          </button>
          <button class="profile_buttons-license">
            <a href="{{ licences_url }}" type="button" target="_blank" class="bold">{% trans 'Licences' %}</a>
          </button>
          <button class="profile_buttons-dataexport">
          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Data export will be provided later">
            <a href="#" type="button" disabled="" class="bold">{% trans 'Data export' %}</a>
            </span>
          </button>
          <button class="profile_buttons-report">
            <a href="{{ report_error_url }}" type="button" target="_blank" class="bold">{% trans 'Report error' %}</a>
          </button>
          <div class="dropdown-multilevel dropdown-multilevel-left">
            <div class="dropdown-item">
              {% trans 'Language' %}
            </div>
            <div class="dropdown-menu">
              <form id="select-language" action="{% url 'set-language' %}" method="POST">
                {% csrf_token %}
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  <a href="#"
                     class="language-selector dropdown-item {% if language.code == LANGUAGE_CODE %}active{% endif %}"
                     data-action="lang" data-lang="{{ language.code }}">
                    {{ language.name }}
                  </a>
                {% endfor %}
              </form>
            </div>
          </div>
          <button class="profile_buttons-logout">
            <a href="{% host_url 'logout' host 'my' %}" class="bold">{% trans 'Logout' %}</a>
          </button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
