{% extends 'My/my_base.html' %}
{% load hosts %}

{% block content %}
  <br>
  Shopping list: {{ shopping_list.name }}
  <a href="{% host_url 'shopping-list-add-product' host 'my' %}">Add</a>

  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
           aria-describedby="search-addon" id="searchTextInput"/>
    <select class="form-select" id="filterIsActive">
      <option selected>Filter</option>
      <option value="checked">Need to by</option>
      <option value="not-checked">Bought</option>
    </select>
  </div>

  <div class="products-div">
    Products: <br>
    {% for product in products %}
      <div class="form-check product-div">
        <div>
          <input class="form-check-input product-selected" type="checkbox"
                 data-action-url="{% if product.is_checked %}
                                      {% host_url 'shopping-list-uncheck-product' product.id host 'my' %}
                                      {% else %}
                                      {% host_url 'shopping-list-check-product' product.id host 'my' %}
                                      {% endif %}"
                 {% if product.is_checked %}checked{% endif %}>
        </div>
        <a href="{% host_url 'shopping-list-edit-product' product.id host 'my' %}">
          <p class="product-name" data-is-checked="{% if product.is_checked %}checked{% endif %}">{{ product.name }}</p>
          - {{ product.amount }} ({{ product.units }})
        </a>
      </div>

    {% endfor %}
  </div>
{% endblock %}


{% block extrajs %}
  <script>
    $('.product-selected').on('click', function (e) {
      let url = $(this).data('action-url');

      $.ajax({
        url: url,
        type: 'GET',
      })
    });

    $('#searchTextInput').on('keyup', function (e) {
      e.preventDefault();
      let toSearch = $(this).val().toLowerCase();

      $('.product-name').each(function (idx, item) {
        let productName = $(item).text().toLowerCase();
        let productDiv = $(item).closest('.product-div');
        if (productName.includes(toSearch)) {
          $(productDiv).show();
        } else {
          $(productDiv).hide();
        }
      });
    });
    $('#filterIsActive').on('change', function (e) {
      e.preventDefault();
      let value = $(this).val();
      console.log('value', value)
      $('.product-name').each(function (idx, item) {
        let productDiv = $(item).closest('.product-div');
        let isChecked = $(item).data('is-checked');

        if (value === 'checked') {
          if (isChecked) {
            $(productDiv).show();
          } else {
            $(productDiv).hide();
          }
        } else if (value === 'not-checked') {
          if (isChecked) {
            $(productDiv).hide();
          } else {
            $(productDiv).show();
          }
        } else {
          $(productDiv).show();
        }
      });
    });
  </script>
{% endblock %}