{% extends 'Public/auth/auth-base.html' %}
{% load static i18n %}

{% block block-authentication-wrapper %}{% endblock %}

{% block title %}
  {% trans 'Pocket fridge' %} - {% trans 'Reset password' %}
{% endblock %}

{% block header %}
  <h2 class="mb-2">{% trans 'Privacy policy & Terms' %} {{ version.name }}</h2>
{% endblock %}

{% block content %}
  <h3 class="mb-2">{% trans 'Privacy policy' %}</h3>
  {% if privacy_policy.template %}
    <embed src="{{ privacy_policy.template.url }}" type="application/pdf" width="100%" height="600px"/>
  {% else %}
    <h5>{% trans 'Not provided yet' %}</h5>
  {% endif %}

  <h3 class="mb-2">{% trans 'Terms of use' %}</h3>
  {% if terms_of_use.template %}
    <embed src="{{ terms_of_use.template.url }}" type="application/pdf" width="100%" height="600px"/>
  {% else %}
    <h5>{% trans 'Not provided yet' %}</h5>
  {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}